.additionally__caption {
    @include font ($font-size: 24px, $line-height: 24px);
    color: var(--basic-black);
  }
  
  .additionally__title {
    @include font ($font-size: 16px, $line-height: 16px);
    color: var(--special-dark-grey);
  }
  
  .additionally__text {
    line-height: 14px;
    color: var(--basic-dark-grey);
  }
  
  .additionally__button {
    @include button();
  }
  