.additionally__caption {
    @include font ($font-size: 24px, $line-height: 24px, $text-transform: inherit);
    color: var(--basic-black);
    margin: 24px 0 36px 0;
  }

  .additionally__title {
    @include font ($font-size: 16px, $line-height: 16px);
    color: var(--special-dark-grey);
    width: 280px;
    margin-bottom: 13px;
  }

  .additionally__text {
    line-height: 14px;
    color: var(--basic-dark-grey);
    width: 172px;
    margin-bottom: 14px;
  }

  .additionally__price {
    line-height: 14px;
    color: var(--basic-dark-grey);
    width: 108px;
    text-align: end;
  }

  .additionally__button {
    @include font ($font-size: 16px, $line-height: 20px);
    @include button();
    width: 280px;
    height: 40px;
  }

  .additionally__list {
    list-style: none;
  }

  .additionally__item {
    display: flex;
    flex-wrap: wrap;
    min-height: 130px;
    border-top: 1px solid var(--catalog-border);
    padding: 9px 0 20px 0;
  }

  .additionally__item--border {
    border-bottom: 1px solid var(--catalog-border);
  }

