.billboard {
  @include wrapper();
  @include clear();
  min-height: 480px;
  background: url("../img/cat-billboard.png") no-repeat;
  background-size: 100% auto;
}


.billboard__title {
  @include font ($font-size: 36px, $line-height: 36px, $text-transform: inherit);
  @include clear();
  color: var(--basic-white);
  text-align: center;
  padding-top: 27px;
  margin-bottom: 25px;
}

.billboard__subtitle {
  @include font ($font-size: 14px, $line-height: 14px);
  color: var(--basic-white);
  text-align: center;
  margin-bottom: 29px;
}

.billboard__more {
  @include font ($font-size: 14px, $line-height: 18px);
  display: flex;
  background-color: var(--basic-green);
  color: var(--basic-white);
  text-decoration: none;
  max-width: 280px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
}

.billboard__wrap {
  @include wrapper();
}

.billboard__picture {
  @include clear();
  margin-bottom: 3px;

  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 430px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .billboard {
    width: 768px;
    background-image: none;
    text-align: center;
  }

  .billboard__wrap {
    @include wrapper ($padding: 0 30px)
  }

  .billboard__title {
    @include font ($font-size: 60px, $line-height: 60px, $text-transform: inherit);
    color: var(--basic-black);
    text-align: left;
    margin-bottom: 42px;
    padding-top: 50px;
    padding-left: 87px;
  }

  .billboard__subtitle {
    @include font ($font-size: 20px, $line-height: 20px);
    position: relative;
    color: var(--basic-black);
    text-align: left;
    padding-left: 87px;
    margin-bottom: 20px;
  }

  .billboard__picture {
    @include clear();

    img {
      max-width: 709px;
    }
  }

  .billboard__image {
    width: 718px;
    height: 609px;
  }

  .billboard__more {
    @include font ();
    position: absolute;
    width: 244px;
    height: 54px;
    top: 360px;
    left: 112px;

    &:hover {
      background-color: var(--button-hover-green);
    }

    &:active span {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .billboard {
    width: 100%;
    position: relative;
    min-height: 696px;
    background: url("../img/cat-billboard-desktop.png") no-repeat;
    background-position: 100% 22px;
    background-size: 50%;
    padding-left: 0;
  }

  .billboard__wrap {
    @include wrapper ($padding: 0 110px);    
    position: absolute;
    padding-top: 195px;
  }

  .billboard__title {
    padding-left: 80px;
  }

  .billboard__subtitle {
    padding-left: 80px;
  }

  .billboard__image {
    position: absolute;
    width: 552px;
    height: 449px;
    right: -396px;
    top: 163px;
  }

  .billboard__picture {     
    img {      
      width: 552px;      
    }
  }

  .billboard__more {
    top: 478px;
    left: 190px;
  }
}
