.billboard {
  min-height: 500px;
  background: url('../img/cat-billboard.png') no-repeat;
}

.billboard__title {
  @include font ($font-size: 36px, $line-height: 36px, $text-transform: inherit);
  color: var(--basic-white);
  text-align: center;
  padding-top: 20px;
}

.billboard__subtitle {
  @include font ($font-size: 14px, $line-height: 14px);
  color: var(--basic-white);
  text-align: center;
}

.billboard__more {
  display: flex;
  @include font ($font-size: 14px, $line-height: 18px);
  background-color: var(--basic-green);
  color: var(--basic-white);
  text-decoration: none;
  width: 280px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .billboard {
    width: 768px;
    background-color: var(--basic-white);
  }

  .billboard__wrap {
    padding: 0 60px 0;
  }

  .billboard__title {
    color: var(--basic-black);
    text-align: left;
  }
}
