.catalog {
  background-color: var(--basic-white);
}

.catalog__list {
  padding: 0;
  list-style: none;
}

.catalog__caption {
  @include font ($font-size: 36px, $line-height: 36px, $text-transform: inherit);
  color: var(--basic-black);
  margin-top: 26px;
  margin-bottom: 42px;
  padding: 0 20px 0;
}
