.example {
  background-color: var(--basic-light-grey);
  padding-top: 17px;
}

.example__container {
  @include wrapper();
}

.example__title {
  @include font ($font-size: 36px, $line-height: 40px, $text-transform: inherit);
  @include clear();
  color: var(--basic-black);
  margin-bottom: 33px;
}

.example__text {
  width: 100%;
  margin-bottom: 22px;
}

.example__progress {
  width: 100%;
  margin-bottom: 8px;


  td:first-child {
    @include font ($font-size: 24px, $line-height: 24px);
    width: 125px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--special-grey);
    padding: 14px 0 15px 0;
  }

  td:nth-child(2n) {
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
    text-align: center;
  }
}

.example__value {
  display: flex;
  flex-direction: column;
  width: 123px;
  align-items: center;
}

.example__time {
  display: flex;
  flex-direction: column;
  width: 126px;
  align-items: center;
}

.example__description {
  display: block;
  width: 82px;
  transform: translateY(-10px);
  background-color: var(--basic-light-grey);
}

.example__total {
  @include font ($font-size: 14px);
  text-align: center;
}

tbody {
  display: flex;
  justify-content: space-between;
}

.example__slider {
  display: block;
  position: relative;
  background-color: var(--basic-light-grey);
  padding-bottom: 33px;
}

.example__button {
  @include font ($font-size: 16px, $line-height: 20px, $text-transform: uppercase);
  border: none;
}

.example__image {
  display: block;
  margin-bottom: 33px;
}

.example__slider-wrap {
  display: flex;
  justify-content: space-around;
  padding: 0 48px 0 52px;
}

.example__scale {
  display: flex;
  border: 1px solid var(--special-grey);
  border-radius: 15px;
  max-width: 84px;
  height: 14px;
  background-color: var(--basic-white);
  align-self: center;
  justify-content: space-around;
  align-items: center;
}

.example__bar {
  background-color: var(--basic-green);
  width: 35px;
  height: 6px;
  border-radius: 15px;
}

.example__picture--absolute {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: var(--basic-white);
    padding-top: 43px;
    padding-bottom: 230px;
  }

  .example__wrap {
    display: flex;
    justify-content: space-between;
  }

  .example__text {
    width: 676px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .example__total {
    @include font ();
    width: 183px;
    text-align: right;
  }

  .example__progress {
    width: 50%;
    margin: 0;

    td:first-child {
      @include font ($font-size: 30px, $line-height: 37px);
    }

    td:nth-child(2n) {
      font-size: 14px;
      line-height: 14px;
    }
  }

  .example__title {
    @include font ($font-size: 60px, $line-height: 60px, $text-transform: inherit);
    margin-bottom: 64px;
  }

  .example__description {
    background-color: var(--basic-white);
  }

  .example__button {
    @include font ($font-size: 20px, $line-height: 30px);
  }

  .example__scale {
    width: 428px;
    height: 6px;
    background-color: var(--scale-bg-grey);
    margin: 0 13px 0;
  }

  .example__slider-wrap {
    justify-content: center;
  }

  .example__bar {
    background-color: var(--basic-green);
    width: 34px;
    height: 34px;
    border: 13px solid var(--basic-white);
    border-radius: 50px;
  }

  .example__image {
    width: 50%;
  }

  .example__picture {
    width: 50%;
    min-height: 620px;
  }
}
