.example {
  background-color: var(--basic-light-grey);
  padding-top: 27px;
  padding-bottom: 40px;
}

.example__title {
  @include font ($font-size: 36px, $line-height: 40px, $text-transform: inherit);
  color: var(--basic-black);
  margin-bottom: 34px;
}

.example__text {
  width: 279px;
  margin-bottom: 24px;
}

.example__progress {
  width: 100%;
  margin-bottom: 8px;


  td:first-child {
    @include font ($font-size: 24px, $line-height: 24px);
    width: 125px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--special-grey);
    padding: 14px 0 15px 0;
  }

  td:nth-child(2n) {
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
    text-align: center;
  }
}

.example__value {
  display: flex;
  flex-direction: column;
  width: 123px;
  align-items: center;
}

.example__time {
  display: flex;
  flex-direction: column;
  width: 126px;
  align-items: center;
}

.example__description {
  display: block;
  width: 83px;
  transform: translateY(-10px);
  background-color: var(--basic-light-grey);
}

.example__total {
  @include font ($font-size: 14px);
  text-align: center;
}

tbody {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: var(--basic-white);
    padding-top: 43px;
    padding-bottom: 230px;
  }

  .example__wrap {
    display: flex;
    justify-content: space-between;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .example__total {
    @include font ();
    width: 183px;
    text-align: right;
  }

  .example__progress {
    margin: 0;

    tr:first-child {
      @include font ($font-size: 30px, $line-height: 37px, $text-transform: inherit);
    }

    tr:nth-child(2n) {
      font-size: 14px;
      line-height: 14px;
    }
  }

  .example__title {
    @include font ($font-size: 60px, $line-height: 60px, $text-transform: inherit);
    margin-bottom: 63px;
  }
}
