.features {
  min-height: 430px;
  background-color: var(-basic-white);
  padding-top: 27px;
}

.features__title {
  @include font ($font-size: 36px, $line-height: 40px, $text-transform: inherit);
  color: var(--basic-black);  
}

.features__list {
  list-style: none;  
}

.features__step { 
  position: relative; 
  margin-left: 35px;  
  min-height: 60px;
  margin-top: 20px;
}

.features__step::before { 
  position: absolute; 
  content: "";
  width: 60px;
  height: 60px;
  background-color: var(--basic-green);
  left: -75px;
  top: 0px;  
}
