.features {
  @include clear();
  @include wrapper();
  min-height: 430px;
  background-color: var(-basic-white);  
  padding-bottom: 34px;
}

.features__title {
  @include font ($font-size: 36px, $line-height: 40px, $text-transform: inherit);
  color: var(--basic-black);
  margin-top: 25px;
  margin-bottom: 27px;
}

.features__list {
  @include clear();
  list-style: none;
}

.features__step {
  display: flex;
  min-height: 60px;
}

.features__step-square {
  position: relative;
  min-width: 60px;
  height: 60px;
  background-color: var(--basic-green);
  align-self: center;
  margin-right: 20px;
}

.features__step-picture {
  position: absolute;
  top: 15px;
  left: 15px;
}

.features__step-text {
  width: 200px;
  margin-bottom: 12px;
}

@media (min-width: $tablet-width) {
  .features {
    border-bottom: 1px solid var(--tablet-border);
    padding-top: 13px;
    padding-bottom: 50px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:nth-child(2n) {
      margin-right: 78px;
    }
  }

  .features__step {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 247px;
    height: 280px;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
    padding-top: 45px;
    margin-bottom: 38px;

    &:nth-child(3n) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child::after {
      @include font ($font-size: 280px, $line-height: 280px);
      content: "1";
      position: absolute;
      color: var(--basic-grey);
      top: 6px;
      right: 17px;
      z-index: -1;
    }

    &:nth-child(2n)::after {
      @include font ($font-size: 280px, $line-height: 280px);
      content: "2";
      position: absolute;
      color: var(--basic-grey);
      top: 6px;
      right: 1px;
      z-index: -1;
    }

    &:nth-child(3n)::after {
      @include font ($font-size: 280px, $line-height: 280px);
      content: "3";
      position: absolute;
      color: var(--basic-grey);
      top: 6px;
      right: 0;
      z-index: -1;
    }

    &:last-child::after {
      @include font ($font-size: 280px, $line-height: 280px);
      content: "4";
      position: absolute;
      color: var(--basic-grey);
      top: 6px;
      right: -2px;
      z-index: -1;
    }
  }

  .features__step-square {
    width: 80px;
    height: 80px;
    align-self: flex-start;
    margin-bottom: 16px;
  }

  .features__step-picture {
    position: absolute;
    top: 26px;
    left: 24px;
  }

  .features__step-text {
    width: 248px;
    margin-bottom: 13px;
  }

  .features__title {
    @include font ($font-size: 60px, $line-height: 60px, $text-transform: inherit);
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    flex-wrap: nowrap;
  }

  .features__step {
    width: 230px;
    margin: 0;
  }

  .features__title {
    margin-bottom: 32px;
  }
}
