.footer {
  background-color: var(--basic-grey);
}

.footer__slogan {
  @include font ($font-size: 16px);
  color: var(--special-black);
  margin-right: 18px;
}

.footer__adress {
  line-height: 20px;
}

.footer__copyright-text {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 21px;
}

.footer__wrap {
  @include wrapper();
  display: flex;
  justify-content: center;
  min-height: 114px;
  padding-top: 15px;
  background-color: var(--basic-white);
}

.footer__wrap--form {
  background-color: var(--basic-grey);
}

.footer__map-picture {
  @include clear();
}

.footer__social-item {
  list-style: none;
  margin: 0 17px;
}

.footer__social {
  border-bottom: 1px solid var(--basic-border);
  border-top: 1px solid var(--basic-border);
  align-self: center;
}

.footer__social-list {
  @include clear();
  @include wrapper();
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.footer__coopyright-wrap {
  @include clear();
  @include wrapper();
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 14px;
}

.footer__logo {
  @include clear();
  @include wrapper();
  padding: 40px 0 27px;
}

.footer__logo-link {
  display: block;
  text-align: center;
}

.footer__iframe {
  position: relative;
  min-height: 362px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.footer__map-img {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .footer__slogan {
    @include font ($font-size: 20px, $line-height: 25px);
    text-align: left;
  }

  .footer__adress {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .footer__wrap {
    padding: 44px 72px 41px 72px;
    background-color: var(--basic-white);
    justify-content: space-between;

    span {
      display: inline-block;
      margin-top: 21px;
    }
  }

  .footer__wrap--form {
    background-color: var(--basic-grey);
  }

  .footer__container {
    @include wrapper ($padding: 0 30px);
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 36px;
  }

  .footer__social {
    border: none;
    padding: 0;
  }

  .footer__social-link--vk svg {
    width: 30px;
    height: 22px;
  }

  .footer__social-link--instagram svg {
    width: 23px;
    height: 23px;
  }

  .footer__social-link--facebook svg {
    width: 33px;
    height: 30px;
    margin-top: -4px;
  }

  .footer__copyright {
    padding: 0;

    .footer__copyright-logo {
      margin-left: 22px;
    }
  }

  .footer__coopyright-wrap {
    padding-top: 35px;
    padding-right: 0;
    padding-left: 0;
  }

  .footer__copyright-text {
    margin-top: 6px;
  }

  .footer__wrapper {
    display: flex;
  }


  .footer__iframe {
    width: 100%;
    min-height: 400px;

    iframe {
      width: 100%;
      min-height: 400px;
    }
  }

  .footer__social-list {
    border: none;
    padding-top: 28px;
    margin-right: 98px;
  }

  .footer__social-item {
    margin: 0 11px;
  }

  .footer__logo {
    margin-right: 127px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__map {
    position: relative;
  }

  .footer {
    @include wrapper($padding: 0 110px);
    max-width: 1440px;
  }

  .footer__wrap {
    position: absolute;
    width: 570px;
    height: 201px;
    top: 95px;
    left: 111px;
    padding-left: 75px;
    z-index: 10;
  }

  .footer__adress {
    width: 173px;
    text-align: left;
  }

  .footer__wrap--form {
    background-color: var(--basic-white);
    top: 96px;
    left: 111px;
  }

  .footer__iframe {
    iframe {
      width: 100%;
      height: 400px;
    }
  }

  .footer__container {
    min-height: 110px;
    padding: 21px 0 36px;
  }

  .footer__wrapper {
    width: 1220px;
    justify-content: space-between;
  }
}
