.footer {
  background-color: var(--basic-grey);
}

.footer__slogan {
  @include font ($font-size: 16px, $line-height: 18px, $text-transform: uppercase);
  color: var(--special-black);
}

.footer__adress {
  line-height: 20px;
}

.footer__copyright-text {
  font-size: 16px;
  line-height: 18px;
}

.footer__wrap {
  display: flex;
  flex-direction: row;
}

.footer__social-item {
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-around;
  align-self: center;
  border-bottom: 1px solid var(--basic-border);
  border-top: 1px solid var(--basic-border);
  padding: 20px 0 20px;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  padding: 32px 0 39px;
}

.footer__logo-link {
  display: block;
  text-align: center;
}
