.form {
  .form__caption {
    @include font ($font-size: 36px, $line-height: 36px, $text-transform: inherit);
    color: var(--basic-black);
  }

  .form__title {
    @include font ($font-size: 14px, $line-height: 18px, $text-transform: inherit);
  }

  .form__pet-options {
    @include font ($font-size: 16px, $line-height: 18px);
    color: var(--basic-dark-grey);
    border: none;
    padding: 30px 0 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(----basic-border);
  }

  .form__wrap-options {
    display: flex;
    margin-bottom: 13px;

    label {
      margin-right: 15px;
      align-self: center;
    }

    input {
      width: 100%;
      height: 45px;
      padding: 14px;
      border: 1px solid var(--special-form-border);
    }
  }

  .form__selection {
    @include font ($font-size: 16px, $line-height: 18px);
    color: var(--special-dark-grey);
  }

  .form__contacts {
    @include font ($font-size: 16px, $line-height: 18px);
    color: var(--basic-dark-grey);
  }

  .form__contacts-title {
    @include font ($font-size: 24px, $line-height: 26px, $text-transform: inherit);
    color: var(--special-dark-grey);
  }

  .form__comment {
    @include font ($font-size: 24px, $line-height: 26px, $text-transform: inherit);
    color: var(--basic-black);
  }

  .form__additionally {
    @include font ($font-size: 16px, $line-height: 18px);
    color: var(--basic-black);
  }

  .form__additionally-title {
    @include font ($font-size: 24px, $line-height: 26px, $text-transform: inherit);
  }

  .form__button {
    @include button();
  }

  .form__text {
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-black);
  }
}
