.form {
  .form__caption {
    @include font ($font-size: 36px, $line-height: 36px, $text-transform: inherit);
    @include wrapper();
    color: var(--basic-black);
    margin-top: 26px;
    margin-bottom: 37px;
  }

  .form__title {
    @include font ($font-size: 14px, $line-height: 18px);
    @include wrapper();
    margin-bottom: 9px;
  }

  .form__pet-options {
    @include font ($font-size: 16px, $line-height: 18px);
    @include wrapper();
    color: var(--basic-dark-grey);
    border: none;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--basic-border);
  }

  .form__wrap-options {
    display: flex;
    margin-bottom: 12px;

    label {
      @include clear();
      margin-right: 14px;
      align-self: center;
      flex-shrink: 0;
    }

    input {
      width: 100%;
      height: 47px;
      padding: 14px;
      border: 1px solid var(--special-form-border);

      &:hover {
        border: 1px solid var(--special-grey);
      }

      &:focus {
        outline-color: var(--basic-dark-grey);
      }

      &.error {
        border: 2px solid var(--error);
      }

      &::-webkit-input-placeholder {
        text-transform: uppercase;
      }

      &::-moz-placeholder {
        text-transform: uppercase;
      }

      &:-moz-placeholder {
        text-transform: uppercase;
      }

      &:-ms-input-placeholder {
        text-transform: uppercase;
      }
    }
  }

  .form__selection {
    @include font ($font-size: 16px, $line-height: 18px);
    @include clear ();
    @include wrapper();
    color: var(--special-dark-grey);
    border: none;
    padding-top: 24px;
    padding-bottom: 18px;
    border-bottom: 1px solid var(--basic-border);
  }

  .form__wrap-selection {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    align-items: center;

    input {
      margin-right: 15px;
      width: 30px;
      height: 30px;
    }

    &:nth-child(3n) {
      margin: 0;
    }
  }

  .form__contacts {
    @include font ($font-size: 16px, $line-height: 18px);
    @include clear ();
    @include wrapper ();
    color: var(--basic-dark-grey);
    border: none;
    padding-top: 26px;
    padding-bottom: 13px;
  }

  .form__wrap-contacts {
    position: relative;
    display: flex;
    margin-bottom: 13px;

    label {
      margin-right: 11px;
      align-self: center;
      flex-shrink: 0;
    }

    input {
      width: 100%;
      height: 45px;
      padding: 16px 15px 16px;
      border: 1px solid var(--special-form-border);

      &:hover {
        border: 1px solid var(--special-grey);
      }

      &:focus {
        outline-color: var(--basic-dark-grey);
      }

      &.error {
        border: 2px solid var(--error);
      }

      &::-webkit-input-placeholder {
        text-transform: uppercase;
      }

      &::-moz-placeholder {
        text-transform: uppercase;
      }

      &:-moz-placeholder {
        text-transform: uppercase;
      }

      &:-ms-input-placeholder {
        text-transform: uppercase;
      }
    }

    .form__email-icon {
      position: absolute;
      top: 19px;
      right: 24px;
    }

    .form__tel-icon {
      position: absolute;
      top: 17px;
      right: 22px;
    }
  }

  .form__contacts-title {
    @include font ($font-size: 24px, $line-height: 26px, $text-transform: none);
    @include clear();
    position: relative;
    color: var(--special-dark-grey);
    text-align: left;
    margin-bottom: 35px;

    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 3px;
      top: 14px;
      left: 201px;
      background-color: var(--basic-green);
    }
  }

  .form__comment {
    @include font ($font-size: 24px, $line-height: 24px, $text-transform: inherit);
    @include clear ();
    @include wrapper ();
    color: var(--basic-black);
    border: none;

    legend {
      @include font ($font-size: 24px, $line-height: 26px, $text-transform: inherit);
      margin-bottom: 37px;
    }

    textarea {
      width: 280px;
      height: 150px;
      padding: 10px;
      margin-bottom: 22px;
      border: 1px solid var(--special-form-border);

      &::-webkit-input-placeholder {
        @include font ($font-size: 16px, $line-height: 18px);
        text-align: center;
      }

      &::-moz-placeholder {
        @include font ($font-size: 16px, $line-height: 18px);
        text-align: center;
      }

      &:-moz-placeholder {
        @include font ($font-size: 16px, $line-height: 18px);
        text-align: center;
      }

      &:-ms-input-placeholder {
        @include font ($font-size: 16px, $line-height: 18px);
        text-align: center;
      }
    }
  }

  .form__comment-title {
    @include font ($font-size: 24px, $line-height: 24px, $text-transform: inherit);
    display: block;
    color: var(--basic-black);
    border: none;
    position: relative;
    margin-bottom: 39px;

    &::after {
      content: "";
      position: absolute;
      width: 56%;
      height: 3px;
      top: 14px;
      left: 142px;
      background-color: var(--basic-green);
    }
  }

  .form__additionally {
    @include font ($font-size: 16px, $line-height: 18px);
    @include clear ();
    @include wrapper ();
    color: var(--basic-black);
    display: flex;
    flex-direction: column;
    border: none;

    .form__wrap-additionally {
      @include clear ();
      display: flex;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 35px;
      }
    }

    input {
      width: 30px;
      height: 30px;
      margin-right: 16px;
      align-self: center;
    }

    label {
      align-self: center;


      &:focus {
        border: 2px solid var(--special-grey);
      }
    }
  }

  .form__checkbox {

    & + label {
      position: relative;
      display: block;
      padding-left: 59px;

      &::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        left: 0git ;
        border: 1px solid var(--special-grey);
      }
    }

    &:focus {
      & + label {
        border: 2px solid var(--special-grey);
      }
    }

    &:checked {
      background-image: url("../img/checkbox_active.svg");
    }

  }

  .form__wrapper-additionally {
    @include wrapper ();
  }

  .form__additionally-title {
    @include font ($font-size: 24px, $line-height: 26px, $text-transform: none);
    margin-bottom: 34px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      top: 15px;
      left: 164px;
      background-color: var(--basic-green);
    }
  }

  .form__button {
    @include font ($font-size: 16px, $line-height: 20px);
    @include button();
    @include clear();
    width: 280px;
    height: 40px;
    margin-bottom: 6px;
  }

  .form__text {
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-black);
    text-align: center;
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    .form_container {
      @include wrapper ($padding: 0 30px);
      padding: 0 41px 0;
      padding-bottom: 62px;
    }

    .form__caption {
      @include font ($font-size: 60px, $line-height: 60px, $text-transform: none);
      margin-bottom: 55px;
      margin-top: 50px;
      padding-left: 28px;
    }

    .form__title {
      @include font ($line-height: 30px);
      margin-bottom: 68px;
      padding-left: 28px;
    }

    .form__pet-options {
      @include font ($line-height: 30px);
      @include clear ();
      border-bottom: none;
      margin-bottom: 50px;
      padding-left: 28px;
    }

    .form__wrap-options {
      margin-bottom: 25px;

      label {
        margin-right: 18px;
        align-self: center;
        flex-shrink: 0;
      }

      input {
        padding: 0 18px 0;
      }
    }

    .form__selection {
      border: 1px solid var(--special-form-border);
      padding: 24px 27px 26px;
      margin-bottom: 49px;
      margin-left: 30px;
    }

    .form__wrap-selection {
      margin-bottom: 12px;

      label {
        @include font ($line-height: 30px);
      }

      input {
        margin-right: 19px;
        width: 40px;
        height: 40px;
      }
    }


    .form__contacts {
      padding-left: 28px;
      padding-bottom: 45px;

      .form__wrap-contacts {
        @include font ($line-height: 30px);
        margin-bottom: 20px;

        input {
          height: 52px;
        }

        label {
          margin-right: 23px;
        }
      }
    }

    .form__contacts-title {
      @include font ($font-size: 36px, $line-height: 36px, $text-transform: none);
      margin-bottom: 75px;

      &::after {
        content: "";
        position: absolute;
        background-color: var(--basic-green);
        width: 33px;
        height: 3px;
        top: 22px;
        left: -70px;
      }

      &::before {
        content: "";
        position: absolute;
        background-color: var(--basic-green);
        width: 19vw;
        height: 3px;
        top: 22px;
        left: 556px;
      }
    }

    .form__comment {
      @include font ($line-height: 30px);
      padding-left: 29px;

      .form__comment-title {
        @include font ($font-size: 36px, $line-height: 36px, $text-transform: none);
        margin-bottom: 3px;

        &::after {
          width: 62vw;
          top: 22px;
          left: 219px;
        }

        &::before {
          content: "";
          position: absolute;
          background-color: var(--basic-green);
          width: 51vw;
          height: 3px;
          top: 22px;
          right: 675px;
        }
      }

      textarea {
        width: 631px;
        height: 174px;
        padding: 15px;
        margin-bottom: 59px;
        margin-top: 72px;
        padding-top: 10px;
        padding-left: 17px;

        &::-webkit-input-placeholder {
          @include font ($font-size: 20px, $line-height: 30px);
          text-align: left;
        }

        &::-moz-placeholder {
          @include font ($font-size: 20px, $line-height: 30px);
          text-align: left;
        }

        &:-moz-placeholder {
          @include font ($font-size: 20px, $line-height: 30px);
          text-align: left;
        }

        &:-ms-input-placeholder {
          @include font ($font-size: 20px, $line-height: 30px);
          text-align: left;
        }
      }
    }

    .form__wrapper-additionally {
      @include wrapper($padding: 0 30px);
      display: flex;

      .form__button {
        font-size: 20px;
        width: 282px;
        height: 52px;
        margin-right: 63px;
      }
    }

    .form__additionally {
      @include font ($font-size: 20px, $line-height: 30px);

      .form__additionally-title {
        @include font ($font-size: 36px, $line-height: 36px, $text-transform: none);
        margin-bottom: 58px;
        padding-left: 9px;

        &::after {
          width: 203%;
          top: 22px;
          left: 261px;
        }

        &::before {
          content: "";
          position: absolute;
          background-color: var(--basic-green);
          width: 39px;
          height: 3px;
          top: 22px;
          left: -70px;
        }
      }


      .form__container-additionally {
        @include clear();
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 21px;
        padding-left: 9px;

        .form__wrap-additionally {
          width: 221px;
          height: 40px;

          &:nth-child(2n+1) {
            margin-right: 123px;
            margin-bottom: 32px;
          }

          input {
            width: 40px;
            height: 40px;
            margin-right: 18px;
          }
        }
      }
    }
  }

  .form__text {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    .form__wrap-desktop {
      display: flex;
      max-width: 1440px;
      margin-bottom: 68px;
    }

    .form__pet-options {
      @include font ($font-size: 20px, $line-height: 30px);
      width: 569px;
      padding: 0;
      justify-content: space-between;
      border-bottom: none;
      margin-right: 80px;
    }

    .form__caption {
      margin-top: 64px;
      margin-bottom: 57px;
      padding: 0;
    }

    .form__title {
      margin-bottom: 67px;
      padding: 0;
    }

    .form__wrap-options {
      width: 569px;
      margin-bottom: 25px;

      input {
        height: 48px;
      }

      &:last-child {
        margin: 0;
      }
    }

    .form__selection {
      @include font ($font-size: 20px, $line-height: 30px);
      width: 568px;
      margin: 0;
    }

    .form__contacts {
      @include font ($font-size: 20px, $line-height: 30px);
      padding: 0;

      .form__contacts-title {
        margin-bottom: 76px;

        &::after {
          width: 100vw;
          left: 553px;
        }

        &::before {
          width: 100vw;
          top: 21px;
          right: 1258px;
        }
      }

      .form__container-contacts {
        position: relative;
        display: flex;
        margin-bottom: 26px;


        .form__wrap-contacts {
          margin-bottom: 45px;

          label {
            margin-right: 20px;
          }

          .form__email {
            width: 485px;
            height: 50px;
            margin-right: 78px;
          }

          .form__email-icon {
            position: absolute;
            top: 19px;
            left: 532px;
          }

          .form__tel {
            width: 471px;
            height: 50px;
          }
        }
      }
    }

    .form__pet-options {
      margin-bottom: 0;
    }

    .form__comment {
      padding: 0;

      .form__comment-title {
        margin-bottom: 3px;

        &::after {
          width: 100vw;
          top: 21px;
          left: 222px;
        }

        &::before {
          width: 100vw;
          top: 21px;
          right: 1258px
        }
      }

      textarea {
        width: 1220px;
        padding: 10px;
        margin-bottom: 61px;
        padding-left: 18px;

        &::-webkit-input-placeholder {
          @include font ($font-size: 20px, $line-height: 30px);
        }

        &::-moz-placeholder {
          @include font ($font-size: 20px, $line-height: 30px);
        }

        &:-moz-placeholder {
          @include font ($font-size: 20px, $line-height: 30px);
        }

        &:-ms-input-placeholder {
          @include font ($font-size: 20px, $line-height: 30px);
        }
      }
    }

    .form_container {
      @include wrapper($padding: 0 110px);
      max-width: 1440px;
    }

    .form__button {
      @include font ($line-height: 0);
      @include button();
      width: 568px;
      height: 52px;
      margin-right: 81px;
      margin-bottom: 21px;
    }

    .form__text {
      font-size: 16px;
      align-self: center;
      margin-top: 10px;
    }

    .form__wrapper-additionally {
      margin-bottom: 61px;
      padding: 0;

      .form__button {
        width: 569px;
        height: 52px;
        margin-right: 82px;
      }
    }

    .form__additionally {
      padding-left: 0;

      .form__additionally-title {
        padding: 0;

        &::after {
          width: 100vw;
          top: 22px;
          left: 252px;
        }

        &::before {
          width: 274px;
          top: 21px;
          left: -314px;
        }
      }

      .form__container-additionally {
        margin-bottom: 25px;
        padding: 0;

        .form__wrap-additionally {

          &:nth-child(2n+1) {
            margin-right: 104px;
          }

          &:nth-child(2n+2):not(:last-child) {
            margin-right: 104px;
          }
        }
      }
    }
  }
}
