.header__nav-list {
  font: ('Oswald', normal, 500, 20px, 20px, uppercase);
  list-style: none;
}

.header__nav-link {
  font: ('Oswald', normal, 500, 20px, 20px, uppercase);
  text-decoration: none;
}
