.header {
  display: flex;
  flex-direction: column;
  background-color: var(--basic-white);
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  min-height: 66px;
  border-bottom: 1px solid var(--tablet-border);
  padding: 0 20px;
}

.header__nav-list {
  @include font ($font-weight: 500);
  @include clear();
  list-style: none;
}

.header__nav-item {
  min-height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--tablet-border);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__nav-link {
  color: var(--basic-black);
  text-decoration: none;
}

.header__nav-button {
  position: relative;
  width: 22px;
  height: 22px;
  align-self: center;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    top: 8px;
    left: -3px;
    background-color: var(--basic-black);
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    top: 8px;
    left: -3px;
    background-color: var(--basic-black);
    transform: rotate(-45deg);
  }
}

.header__logo {
  margin-right: 55px;
  align-self: center;
}

.header__logo-text--img {
  margin-top: 5px;
}

.header__logo-text {
  margin-right: 70px;
  align-self: center;
}

@media (min-width: $tablet-width) {
  .header {
    @include wrapper ($margin: 0 auto, $padding: 0 30px);
    flex-direction: row;
    justify-content: space-between;
  }

  .header__wrap {
    @include clear();
    margin-right: auto;
    border: none;
  }

  .header__nav-list {
    @include font ($font-size: 18px, $line-height: 24px);
    display: flex;
    padding-top: 7px;
  }

  .header__nav-item {
    display: flex;
    align-items: center;
    border: none;
    min-height: 45px;
    margin-top: 15px;

    &:last-child {
      margin-left: 36px;
    }

    &:nth-child(2n) {
      margin-left: 36px;
    }
  }

  .header__nav-link {
    color: var(--basic-black);
    text-decoration: none;
    position: relative;

    &.current {
      &::after {
        content: "";
        position: absolute;
        background-color: var(--basic-green);
        width: 100%;
        height: 2px;
        top: 32px;
        left: 2px;
      }
    }
  }

  .header__nav-button {
    display: none;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__logo-img {
    display: none;
  }

  .header__logo-text--img {
    width: 175px;
    height: 70px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    @include wrapper ($padding: 0 110px);
    display: flex;
    justify-content: space-between;
    margin-bottom: -10%;
    z-index: 100;
  }

  .header__logo-text--img {
    width: 202px;
    height: 70px;
  }

  .header--desktop {
    margin-bottom: 0;
  }

  .header__nav-list {
    @include font ($line-height: 30px);
  }

  .header__nav-link--white {
    color: var(--basic-white);
    margin-bottom: 0;

    &.current {
      &::after {
        background-color: var(--basic-white);
      }
    }
  }

  .header__nav-button {
    display: none;
  }
}
