.product {
    display: grid;
    grid-template-columns: 138px 142px;
    grid-template-rows: 143px 40px;
    margin: 0 0 25px 0;
    border-top: 1px solid var(--catalog-border);
  }

  .product__wrap {
    padding: 0 0 0 2px;
  }

  .product__name {
    @include font ($font-size: 16px, $line-height: 20px);
    color: var(--special-dark-grey);
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    width: 75px;
    margin: 20px 0 10px 0;
  }

  .product__options {
    font-size: 12px;
    line-height: 16px;
    color: var(--basic-dark-grey);
    border-collapse: separate;

    tr {

      td {
        width: 72px;
        padding: 0;
        margin: 0;
      }

      td:last-child {
        text-align: end;
      }
    }
  }

  .product__button {
    @include button ();
    @include font ($font-size: 16px, $line-height: 20px);
    width: 280px;
    height: 40px;
  }

  .product__picture {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: center;
    text-align: center;
    margin: 26px 0 0 0;
  }

  @media (min-width: $tablet-width) {
    .product__button {
      width: 248px;
      height: 39px;
      margin: 0 auto;
    }

    .product__wrap {
      padding: 0 0 0 6px;
    }

    .product {
      grid-template-columns: 265px;
      grid-template-rows: 143px 207px 40px;
    }

    .product__name {
      @include font ($line-height: 24px);
      width: 261px;
      text-align: center;
      margin: 18px 0 10px 0;
    }

    .product__options {
      font-size: 16px;
    }

    .product__picture {
      position: relative;
      min-height: 172px;
    }

    .product__picture--big {
      min-height: 206px;
    }

    .product__image {
      position: absolute;
      top: -44px;
      left: 52px;
      width: 161px;
      height: 172px;
    }

    .product__image--big {
      width: 168px;
      height: 206px;
      top: -54px;
      left: 49px;
    }
  }
