.promo__wrap {
  @include wrapper();
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 289px;
  background-image: url("../img/promo_mobile.png");
  justify-content: flex-end;

  @media (min-resolution: 2dppx) {
    @include wrapper();
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: 289px;
    justify-content: flex-end;
    background: url("../img/promo_mobile@2x.png") no-repeat;
    background-size: 100%;
  }
}

.promo__title {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  text-align: center;
  margin-bottom: 41px;

  &::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 80px;
    bottom: 110px;
    left: 82px;
    background-image: url("../img/promo_icon.svg");
  }
}

.promo {
  padding-top: 37px;
  padding-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .promo__wrap {
    @include clear();
    @include wrapper($padding: 0);
    display: flex;
    flex-direction: row;
    width: 708px;
    min-height: 200px;
    background-image: url("../img/promo_tab.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo_tab@2x.png");
    }
  }

  .promo {
    padding-top: 67px;
    padding-bottom: 75px;
  }

  .promo__title {
    position: relative;
    text-align: left;
    width: 285px;
    margin: 72px 0 41px 0;

    &::before {
      content: "";
      position: absolute;
      width: 70px;
      height: 80px;
      bottom: 22px;
      left: -345px;
      background-image: url("../img/promo_icon.svg");
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 245px;
    padding: 0;
  }

  .promo__wrap {
    width: 245px;
    min-height: 289px;
    background-image: url("../img/promo_desktop.png");
  }

  .promo__title {
    text-align: center;
    align-self: flex-end;

    &::before {
      bottom: 110px;
      left: 87px;
    }
  }
}
