.promo__wrap {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 289px;
  background-image: url("../img/promo_mobile.png");
  justify-content: flex-end;
}

.promo__title {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  text-align: center;
  margin-bottom: 41px;

  &::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 80px;
    bottom: 110px;
    left: 100px;
    background-image: url("../img/promo_icon.svg");
  }
}

.promo {
  padding-top: 35px;
  padding-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .promo__wrap {
    display: flex;
    flex-direction: row;
    width: 708px;
    min-height: 200px;
    background-image: url("../img/promo_tab.png");
  }

  .promo {
    padding-top: 67px;
    padding-bottom: 75px;
  }

  .promo__title {
    position: relative;
    text-align: left;
    width: 285px;
    margin: 72px 0 41px 0;

    &::before {
      content: "";
      position: absolute;
      width: 70px;
      height: 80px;
      bottom: 22px;
      left: -345px;
      background-image: url("../img/promo_icon.svg");
    }
  }
}
