.slider {
  display: block;
  background-color: var(--basic-light-grey);
  padding-bottom: 25px;
}

.slider__button {
  @include font ($font-size: 16px, $line-height: 20px, $text-transform: uppercase);
  border: none;
}

.slider__image {
  display: block;
  margin-bottom: 23px;
}

.slider__wrap {
  display: flex;
  justify-content: space-around;
}

.slider__scale {
  display: flex;
  border: 1px solid var(--special-grey);
  border-radius: 15px;
  width: 84px;
  height: 14px;
  background-color: var(--basic-white);
  align-self: center;
  justify-content: space-around;
  align-items: center;
}

.slider__bar {
  background-color: var(--basic-green);
  width: 35px;
  height: 6px;
  border-radius: 15px;
}
