:root {
  --basic-black: #000000;
  --special-black: #111111;
  --basic-white: #FFFFFF;
  --basic-green: #68B738;
  --basic-dark-grey: #444444;
  --basic-grey: #F2F2F2;
  --basic-light-grey: #EAEAEA;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

@mixin font ($font-family: 'Oswald', $font-weight: 400, $font-size: 20px, $line-height: 20px, $text-transform: uppercase){
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: $text-transform;
}

* {
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

.page-body {
  width: 320px;
  margin: 0 auto;  
}

.wrap {
  padding: 0 20px 0;
}


