:root {
  --basic-black: #000000;
  --special-black: #111111;
  --basic-white: #ffffff;
  --basic-green: #68b738;
  --special-dark-grey: #222222;
  --special-form-border: #e7e7e7;
  --basic-dark-grey: #444444;
  --basic-grey: #f2f2f2;
  --special-grey: #cdcdcd;
  --scale-bg-grey: #dcdcdc;
  --basic-light-grey: #eaeaea;
  --basic-green: #68b738;
  --basic-border: #d9d9d9;
  --tablet-border: #e6e6e6;
}

$tablet-width: 768px;
$desktop-width: 1440px;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

* {
  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

.page-body {
  width: 320px;
  margin: 0 auto;
}

.wrap {
  padding: 0 20px 0;
}

.clear {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .page-body {
    width: 768px;
    margin: 0 auto;
  }

  .wrap {
    padding: 0 30px 0;
  }
}

@media (min-width: $desktop-width) {
  .page-body {
    width: 1420px;
    margin: 0 auto;    
  }

  .wrap {
    padding: 0 100px 0;
  }
}
