@mixin font ($font-family, $font-style, $font-weight, $font-size, $line-height, $text-transform){
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: $text-transform;
}
